# Byte-compiled / optimized / DLL files
*.pyc
__pycache__/
*.py[cod]
*$py.class
.DS_STORE

# distribution / packaging
bin/
lib/
config.ini

# static files
service/static/

# site directory for mkdocs
site/

# ignore config settings
service/service/settings.py
service/service/production.settings.py

# Django stuff:
*.log

# DB Model
/service/models.py

# editor environment files
.vscode