{% extends "base.html" %}

{% block content %}  
  <div class='container'>
    <div class="row">
      <h1>Welcome to find.restful.api</h1>

      <p>To see our repository on GitHub visit <a href="https://github.com/USStateDept/find.restful.api">here</a>.</p>

      <h2>Data We Provide</h2>

      <p>Data we supply is derived from a collection of publicly-available third-party sources – World Bank,
      United Nations, Freedom House, etc. -- about the state of countries around the world. For instance,
      you can use our API to determine maternal mortality rates in a particular country, or to find out 
      how many people in a set of countries have access to credit.</p>

      <p>You can retreive all kinds of data pertaining to categories, countries, indicators, and regions.
      With the data you want from each country and region you can then retreive data value for each
      indicator you specify and for which year or years.</p>

      <h2>Passing Parameters through the URL</h2>

      <p>Our API can handle many types of GET requests that will return a broad range of public data.
      However you want to requests and retreive that data will be based on the parameters you pass through the URL.
      Each endpoint we have provided will allow you to pass through specific fields and value in query string format.
      For each end point here are the fields the endpoint looks for:</p>

      <pre><code>
      - categories/?category=&lt;value1&gt;&amp;subcategory=&lt;value2&gt;
      - countries/?country=&lt;value1&gt;
      - countries/data/?country&lt;value1&gt;&amp;indicator&lt;value2&gt;&amp;year=&lt;value3&gt;
      - indicators/?indicator=&lt;value1&gt;
      - regions/?region=&lt;value1&gt;
      - regions/data/?region=&lt;value1&gt;&amp;indicator=&lt;value2&gt;&amp;year=&lt;value3&gt;
      </code></pre>

      <p>A quick thing to note is that when you are requesting multiple values for a specific field in the URL you must use a | <strong>(pipe)</strong>.
      This will allow you to GET multiple countries <code>/?country=&lt;value1&gt;|&lt;value2&gt;</code>, etc.  Also note that when you are requesting the endpoints
      at countries/data/ and regions/data/ to get data for <strong>all</strong> the years you do not need to specify a year field - it will default to 'all'.
      You also do not need to enter a category or subcategory based on what kind of data you want to get back. (You can request categories and/or subcategories)</p>

      <h2>API Endpoints</h2>

      <pre><code>
      categories/
        list/
        - fields : category (category name), subcategory (subcategory name)
      countries/
        list/
        - fields : country (subcountry name)
      countries/data/
        - fields : country (country id), indicator (indicator id), year (valid 4 digit year)
      indicators/
        list/
        - fields : indicator (indicator name)
      regions/
        list/
        - fields : region (region name)
      region/data/
        - fields : region (region id), indicator (indicator id), year (valid 4 digit year)
      </code></pre>

      <h2>Signing Up For Tokens</h2>

      <p>To register an account and receive a token you must first go to the <em>Sign Up</em> page and enter a requested username, your email, and a password
      for your account.  </p>

      <p>Once you sign up you will receive a temporary token; you will also receive a verification email.  </p>

      <p>To verify your account go to the <em>Verify Email</em> page from the <em>Account</em> dropdown menu.  </p>

      <p>Once you have verified your account you can then create a token on the <em>Create Token</em> page under the dropdown menu using your credentials. </p>

      <p>After you successfully entered your credentials you will see a token that is unique to your account.  This token will expire in <strong>90 days</strong> - 
      to get a new token you can either refresh your token or you can create a new one again with your credentials. </p>

      <h2>Account Changes</h2>

      <p>If you forgot your password to request a password change you can click the <em>Forgot Password</em> link on the <em>Create Token</em> page.</p>

      <p>To change your password when you have your registered Token you must go to the <em>Change Password</em> link from the dropdown menu.
      To update your password you must have your valid <strong>Token</strong> and enter and confirm a new password.</p>

      <p>To update your account information you must have your valid <strong>Token</strong>. Once you have your token you go to the <em>Account Details</em> page
      and enter your token. After you enter your token you must "Retreive Account Information" - this will auto fill the fields with your current
      information. You can then change it to valid information and then <em>Save</em> your updated information.</p>

    </div>
  </div>

{% endblock %}
